



<form method="post">

    <label for="floatingInput">Name</label>
    <input type="text" class="form-control" id="floatingInput" placeholder="Title" name="Title">


    <label for="floatingPassword">Surname</label>
    <input type="text" class="form-control" id="floatingPassword" placeholder="Description" name="Description">

    <label for="floatingPassword">Datetime</label>
    <input type="datetime-local" class="form-control" id="floatingPassword" placeholder="Surname" name="Deadline">
    
    <label for="floatingPassword">IsDone</label><br />
    <p>Finished=1 ,not finished or wait=0 </p>
    <input type="text" class="form-control" id="floatingPassword" placeholder="Isdone" name="Isdone">

    <div class="form-floating">
        <button class="btn btn-success">Success</button>
    </div>
</form>